/** Search + Filter Container **/
#search-filter-container {
  border-radius: 15px;
  margin-bottom: 20px;
  background: #e8e8e8;
}

/** Zip + Provider Type Search Container **/
.search-container {
  padding: 25px 15px 25px 15px;
}

#search-button {
  width: 100%;
}

/** Filter container sections for  **/
.filter-container {
  padding: 5px 15px 10px 15px;
}

/** Provider Search Results **/
.provider-results {
  align-content: center;
}

.provider-details {
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px #ccc;
}

.provider-details:hover {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
  cursor: pointer;
}

.doctor-details {
  margin: 15px;
  width: 330px;
  min-height: 250px;
  float: left;
}

.facility-details {
  margin: 15px;
  width: 330px;
  min-height: 250px;
  float: left;
}